<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Lista de series de <%= @user.name %></h1>
    <% @movies.each do |movie|  %>
    <div class="row">
        <div class="col-md-15">
          <center><h3> <%= movie.name %> </h3></center>
          <% if movie.gender.present? %>
            <h5> Género: <%= movie.gender %></h5>
          <% end %>
          <% if movie.description.present? %>
            <h5>Descripción: <%= movie.description %></h5>
          <% end %>
          <br>
    </div>
  </div>
    <% end %>
  </body>
</html>
