<% provide(:title, @movie.name) %>
<h1><%=@movie.name%></h1>
<div class="jumbotron">
<div class="row">
    <% if @movie.gender.present? %>
    <span class="gender"><b>Género:</b> <%= @movie.gender %></span><br>
    <% end %>
    <% if @movie.description.present? %>
    <span class="description"><b>Descripción:</b> <%= @movie.description %></span><br>
    <% end %>
  </div>
<div class="row">
  <%= render 'comments/comment' %>
</div>
</div>
