<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por registrarte <%= @user.name %>!</h1>
    <p>Ingresa a TVSeries4u y agrega tus series favoritas, que tengas un gran día!</p>
  </body>
</html>
