<head>
  <title>Contact | TVSeries4u</title>
</head>
<body>
<h1>Contact</h1>
<div class="jumbotron">
<h2>
Contacta a Grupo 13,
<a href="https://github.com/IIC2143-2017/Grupo13"><font color='#2E9AFE'> repositorio GitHub</font></a>.
<br><br>
Luis Ampuero - laampuero@uc.cl<br><br>
Italo Contreras - iocontreras@uc.cl<br><br>
Renzo Solari - rmsolari@uc.cl<br>
</h2>
</div>
</body>
