<head>
  <title>Help | TVSeries4u</title>
</head>
<body>
<h1>Help</h1>
<div class="jumbotron"><center>
<h4>Bienvenido a TVSeries4u</h4><br><br></center>
1.- Al ingresar por primera vez a la web se ingreserá automáticamente a una cuenta de administrador<br><br>
2.- En tu perfil puedes ver las series que haz creado hasta el momento<br><br>
3.- En home podrás ver las series que son visibles para ti<br><br>
</div>
</body>
