<head>
<title>Home | TVSeries4u</title>
</head>
<body>
  <div class="center jumbotron">
    <h1 style="font-family: courier">Bienvenido a TVSeries4u</h1>
    <h2 style="font-family: times, serif; font-size:14pt; font-style:italic; color:black">TVSeries4u > Netflix</h2>
    <%= link_to "Regístrate ahora!", signup_path, class: "btn btn-lg btn-info" %>
  </div>
</body>
