<head>
<title>Bienvenido | TVSeries4u</title>
</head>
<body>
  <div class="center jumbotron">
  <center> <%= image_tag("logo3.png", :width => 300, :height => 200) %></center><br><br>
<!--  <h1 style="font-family: courier">Bienvenido a TVSeries4u</h1> -->
  <%= link_to "Ingresar", login_path, class: "btn btn-lg btn-info", style: 'color:#FFFFFF;'%><br><br>
  Nuevo en TVSeries4u? <%= link_to "regístrate ahora!", signup_path, style: 'color:#2E9AFE;' %></li>
  <!--<%= link_to "Regístrate ahora!", signup_path, class: "btn btn-lg btn-info" %> -->
  </div>
</body>
