<head>
  <title>Help | TVSeries4u</title>
</head>
<body>
<h1>Help</h1>
<p> Bienvenido a TVSeries4u</p>
<p> 1.- Al ingresar por primera vez a la web se ingreserá automáticamente a una cuenta de administrador</p>
<p> 2.- En tu perfil puedes ver las series que haz creado hasta el momento</p>
<p> 3.- En home podrás ver las series que son visibles para ti</p>

</body>
