<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Ingresa una nueva serie .." %>
  </div>
  <%= f.submit "Añadir", class: "btn btn-primary" %>
<% end %>
