<% @user ||= current_user %>
<div class="stats">
<<<<<<< HEAD
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
=======

>>>>>>> c6fd5ade0aa68ee27d87b82f46140f60365af8af
</div>
