<h1>Filtrar</h1>
<div clas="container">
  <div class="jumbotron">
    <%= form_tag({:controller => "functions", :action => "filtrar"}, :method => "get") do %>
    <center>Seleccione género</center><br>
    <%= collection_select :gender, :id, @genders, :id, :name %>
    <%= submit_tag "Actualizar", class: "btn btn-primary" %>
    <% end %>
    <div id="resultados">
      <% if @movies != nil %>
       <h3>Series:</h3>
       <ol class="movies">
         <%= render @movies %>
       </ol>
     <% end %>
    </div>

  </div>
</div>
