<footer class="footer">
  <small>
    TVSeries4u 2017 - Ingeniería de Software
    , <a href="https://github.com/IIC2143-2017/Grupo13">GitHub repository</a>
    by Grupo 13</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
